.env
*.session-journal
*.session
build
*.mp3
*.webm
*.webp
*.mp4
*.tgs
/*.jpg
/*.png
/*.mp4
*.log

# Directories
addons/
pyUltroid/
__pycache__/
venv/
.idea/
.vscode/
temp/
pdf/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.settings/
*.swf
*.air
*.ipa
*.apk
*.iso
# temporary files
*.raw
tplugins
tassistant
