.env
ultroid.session-journal
ultroid.session
ultroid_vc.session
build
*.mp3
*.webm
*.webp
*.mp4
*.tgs
/*.jpg
/*.png
/*.mp4
ultroid.log
target/npmlist.json
package-lock.json
# Directories
addons/
__pycache__/
venv/
node_modules/
glitch_me/
.idea/
.vscode/
