# Local Requirements.

aiohttp==3.7.3
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
beautifulsoup4==4.9.1
bs4==0.0.1
cachetools==4.2.1
carbonnow==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptg==0.2.post2
cryptography==3.4.6
decorator==4.4.2
emoji==1.2.0
futures==3.1.1
gitdb==4.0.5
GitPython==3.1.14
google-api-python-client==1.7.11
google-auth==1.28.0
google-auth-httplib2==0.0.4
googletrans==4.0.0rc1
goslate==1.5.1
gTTS==2.2.2
h11==0.9.0
h2==3.2.0
heroku3==4.2.3
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httplib2==0.13.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
lxml==4.5.2
lyrics-extractor==3.0.1
multidict==4.7.6
numpy==1.20.1
oauth2client==4.1.3
opencv-python-headless==4.5.1.48
Pillow==8.1.2
play-scraper==0.6.0
pokedex.py==1.1.2
psutil==5.8.0
py-Ultroid==2021.3.13
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDictionary==2.0.1
pyfiglet==0.8.post1
pyjokes==0.6.0
pyOpenSSL==20.0.1
pyshorteners==1.0.1
python-dateutil==2.8.1
python-decouple==3.3
python-dotenv==0.15.0
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
requests-futures==1.0.0
git+https://github.com/ProgrammingError/rextester_py.git
rfc3986==1.4.0
rsa==4.7.2
screen
search-engine-parser==0.6.2
selenium==3.141.0
six==1.15.0
smmap==3.0.5
sniffio==1.2.0
soupsieve==2.2
speedtest-cli==2.1.2
telegraph==1.4.1
Telethon==1.19.5
tqdm==4.59.0
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.4
validators==0.18.2
webencodings==0.5.1
websocket-client==0.58.0
wikipedia==1.4.0
yarl==1.6.3
youtube-dl==2021.3.14
youtube-search-python==1.4.2