# Required only while Local Deploy
# ------------------------------------------------------ #

akinator.py
apscheduler
bs4
cairosvg
cfscrape
enhancer==0.3.4
gingerit
git+https://github.com/1danish-00/google_trans_new.git
git+https://github.com/New-dev0/instagrapi.git
git+https://github.com/buddhhu/img2html.git
git+https://github.com/programmingerror/heroku3.py.git
gitpython==3.1.23
google-api-python-client==2.31.0
html-telegraph-poster==0.4.0
htmlwebshot==0.1.2
lottie==0.6.9
multiprocess==0.70.12.2
numpy==1.21.2
oauth2client==4.1.3
opencv-python-headless
pillow>=7.0.0
profanitydetector
psutil==5.8.0
psycopg2-binary
pygments
pymongo[srv]
pypdf2==1.26.0
pytz==2021.1
pyyaml==5.4.1
qrcode==7.3
requests==2.26.0
scikit-image==0.18.2
tabulate==0.8.9
telegraph
tgcrypto
youtube-search-python==1.6.1
yt-dlp
pygments
python-Levenshtein
fuzzywuzzy
# -------------------------------------------------------#
