aiohttp==3.7.3
akinator.py==5.0.0
apscheduler==3.7.0
carbonnow==0.0.2
cloudscraper=1.2.58
emoji=1.4.2
enhancer
faker==8.12.1
fonttools==4.26.2
gdown==3.13.0
gingerit==0.8.2
git+https://github.com/buddhhu/img2html.git
git+https://github.com/buddhhu/search-engine-parser.git
git+https://github.com/1danish-00/carbon-now-sh-api-wrapper.git
git+https://github.com/programmingerror/heroku3.py.git
git+https://github.com/1danish-00/google_trans_new.git
gitpython==3.0.18
google-api-python-client==1.7.11
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.4
google-auth==1.27.1
hachoir=3.1.2
html-telegraph-poster==0.4.0
htmlwebshot==0.1.2
httplib2==0.19.0
instagrapi==1.13.1
jikanpy==4.3.2
lottie==0.6.9
multiprocess==0.70.12.2
numerize==0.12
numpy==1.21.2
oauth2client==4.1.3
opencv-python-headless==4.5.3.56
pillow>=7.0.0
pistonapi
play-scraper==0.6.0
profanitydetector
psutil==5.8.0
pydictionary
pypdf2==1.26.0
pytgcalls==3.0.0.dev19
pytz=2021.1
qrcode==7.3
requests==2.26.0
shazamio==0.0.5
tabulate=0.8.9
telegraph==1.4.1
tgcrypto==1.2.2
youtube-search-python==1.4.7
youtube_dl==2021.6.6
