asyncurban
carbonnow
cairosvg
emoji
GitPython
googletrans==4.0.0rc1
git+https://github.com/ProgrammingError/heroku3.py
imutils
lottie
lxml
moviepy
numpy
opencv-python-headless
Pillow>=7.0.0
play-scraper
PyDictionary
PyPDF2
psutil
pytz
requests>=2.18.4
screen
scikit-image
selenium
speedtest-cli==2.1.3
telegraph
validators
youtube_dl
youtube-search-python
google-api-python-client==1.7.11
google-auth==1.27.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.4
googletrans==4.0.0rc1
oauth2client==4.1.3
httplib2==0.13.1
git+https://github.com/buddhhu/search-engine-parser.git
git+https://github.com/buddhhu/ofox.git
gingerit
html-telegraph-poster
pyyaml
hachoir
aria2p
gdown
qrcode
shazamio
