name: PyLint
on:
  push:
    paths:
    - "**.py"
jobs:
  PEP8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10.x"
      - name: Install Python lint libraries
        run: pip install autopep8 autoflake isort black
      - name: Check for showstoppers
        run: |
          autopep8 --verbose --in-place --recursive --aggressive *.py
          autopep8 --verbose --in-place --recursive --aggressive database/*.py
          autopep8 --verbose --in-place --recursive --aggressive plugins/*.py
          autopep8 --verbose --in-place --recursive --aggressive bot/*.py
          autopep8 --verbose --in-place --recursive --aggressive inline/*.py
      - name: Remove unused imports and variables
        run: |
          autoflake --in-place --recursive --remove-all-unused-imports --remove-unused-variables --ignore-init-module-imports .
      - name: lint with isort and black
        run: |
          isort .
          black .
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'pylint: auto fixes'
          commit_options: '--no-verify'
          repository: .
          commit_user_name: buddhhu
          commit_user_email: 48654350+buddhhu@users.noreply.github.com
          commit_author: Amit Sharma <48654350+buddhhu@users.noreply.github.com>
          
